<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dongamboard"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.user.UserActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".activity.user.UserUpdateActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".activity.user.SignInActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".activity.user.JoinActivity"
            android:theme="@style/Theme.Design.NoActionBar" />

        <activity
            android:name=".activity.notice.NoticeActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".activity.notice.NoticeListActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".activity.notice.NoticeCreateActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".activity.notice.NoticeUpdateActivity"
            android:theme="@style/Theme.Design.NoActionBar" />

        <activity
            android:name=".activity.post.BestActivity"
            android:theme="@style/Theme.Design.NoActionBar" />

        <activity
            android:name=".activity.post.PostActivity"
            android:theme="@style/Theme.Design.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.post.PostListActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".activity.post.PostCreateActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".activity.post.PostUpdateActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
    </application>
</manifest>